body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

button {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    background: #3882f6;
    border: none;
    border-radius: 2px;
    padding: 2px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.code {
    font-family: sans-serif;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
    text-decoration: none;
    color: #ffffff;
    background: #3882f6;
    border: none;
    border-radius: 2px;
    padding: 2px;
}
